.title__wrapper {
    text-align: center;
    padding: 50px 0;
}


.title {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif
}


.title__paragraph {
    font-size: .9rem;
    color: rgb(145, 145, 145);
    font-family: 'Poppins', sans-serif
}


@media screen and (max-width: 992px) {
    .title {
        font-size: 1.2rem;
        width: 90%;
        margin: 0 auto;
    }

    .title__paragraph {
        font-size: .75rem
    }
}


@media screen and (max-width: 768px) {


    .title__paragraph {
        font-size: .6rem;
        max-width: 270px;
        margin: 10px auto
    }
}


@media screen and (max-width: 530px) {
    .title {
        font-size: 1rem;
    }
}
